<app-menu-navbar></app-menu-navbar>

<div class="container">
  <br class="clearfix" />
  <div>
    <h3>Relatório de Comissões</h3>
  </div>    
  <div>
    <table class="table table-table table-striped">
        <thead>
          <tr>
            <th>Vendedor</th>
            <th>Total Venda</th>
            <th>Total Comissão</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comissao of comissoes">
          <td>{{ comissao.vendedor.nmVendedor }}</td>
          <td>{{ comissao.vrTotalVenda }}</td>
          <td>{{ comissao.vrComissao }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>