<menu-navbar></menu-navbar>
<div class="container">
  <br class="clearfix" />
  <div>
    <h3>Relatório de Comissões e Vendas</h3>
  </div>    
  <div>
    <h4>Comissões</h4>
    <table class="table table-table table-striped">
        <thead>
          <tr>
            <th>Vendedor</th>
            <th>Total Venda</th>
            <th>Total Comissão</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comissao of comissoes">
          <td>{{ comissao.vendedor.nmVendedor }}</td>
          <td>{{ comissao.vrTotalVenda }}</td>
          <td>{{ comissao.vrComissao }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h4>Vendas Realizadas</h4>
    <table class="table table-table table-striped">
      <thead>
        <tr>
          <th>Vendedor</th>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Data Venda</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venda of vendasRealizadas">
          <td>{{ venda.vendedor.nmVendedor }}</td>
          <td>{{ venda.produto.nmProduto }}</td>
          <td>{{ venda.qtdProduto }}</td>
          <td>{{ venda.dtVenda }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>