<div class="modal-dialog modal-lg">
  <div class="modal-content">
     <div class="modal-header">
       <h4 class="modal-title">{{ title }}</h4>
       <button type="button" class="close" (click)="close()" >&times;</button>
     </div>
     <div class="modal-body">
        <form #frmProdutoModal="ngForm" novalidate>
          <div class="row">
            <div class="col-8">
              <span>{{ label.nmProduto }}</span>
              <input name="nmProduto" class="form-control" type="text" ngControl="nmProduto" [(ngModel)]="produto.nmProduto" placeholder="nome produto" required>
            </div>
            <div class="col-4">
              <span>{{ label.vrProduto }}</span>
              <input name="vrProduto" class="form-control" type="text" ngControl="vrProduto" [(ngModel)]="produto.vrProduto" placeholder="valor produto" required>
            </div>
          </div>
          <br class="clearfix" />
          <div class="row">
            <div class="col-12 position-button">
              <button type="button" class="btn btn-default" (click)="close()" >Cancelar</button>
              <button type="button" class="btn btn-success" [disabled]="frmProdutoModal.invalid" (click)="cadastrar()">Cadastrar</button>
            </div>
          </div>
        </form>
      </div>
   </div>
</div>