<div class="modal-dialog modal-lg">
  <div class="modal-content">
     <div class="modal-header">
       <h4 class="modal-title">{{ title }}</h4>
       <button type="button" class="close" (click)="close()" >&times;</button>
     </div>
     <div class="modal-body">
       <div class="row">
         <div class="col-8">
          <span>{{ name }}</span>
          <input name="produto" class="form-control" type="text" (ngModel)="produto.nmProduto" placeholder="nome produto">
         </div>
         <div class="col-4">
          <span>{{ valor }}</span>
          <input name="valor" class="form-control" type="text" (ngModel)="produto.vrProduto" placeholder="valor produto">
         </div>
       </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" (click)="close()" >Cancelar</button>
       <button type="button" class="btn btn-success" (click)="cadastrar()">Cadastrar</button>
     </div>
   </div>
</div>