<app-menu-navbar></app-menu-navbar>

<div class="container">
  <br class="clearfix" />
  <div>
    <h3>Relatório de Vendas Realizadas</h3>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data Venda</th>
          <th>Vendedor</th>
          <th>Produto</th>
          <th>Valor Produto</th>
          <th>Quantidade</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venda of vendas">
          <td>{{ venda.dtVenda | date}}</td>
          <td>{{ venda.Vendedor.nmVendedor }}</td>
          <td>{{ venda.Produto.nmProduto }}</td>
          <td>R$ {{ venda.Produto.vrProduto }}</td>
          <td>{{ venda.qtdProduto }}</td>
          <td>R$ {{ venda.ttlVenda }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="vendas.length == 0">
    <span class="message-center">Nenhuma venda realizada</span>
  </div>
</div>