<menu-navbar></menu-navbar>
<div class="container">
  <br class="clearfix" />
  <div>
    <h3>Lista de Produtos</h3>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nome Produto</th>
            <th>Valor Produto</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos">
            <td>{{ produto.cdProduto }}</td>
            <td>{{ produto.nmProduto }}</td>
            <td>{{ produto.vrProduto }}</td>
            <td>
              <input class="btn btn-primary" type="button" value="Atualizar" /> 
              <input class="btn btn-danger" type="button" value="Excluir" /> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>