<app-menu-navbar (valueChange)="onSearch($event)"></app-menu-navbar>

<div class="container">
  <br class="clearfix" />
  <div class="row">
    <div>
      <h3>{{ 'product.title' | translate }}</h3>
    </div>
  </div>
  <br class="clearfix" />
  <div class="row">
    <div class="col-12">
      <input type="button" class="btn btn-primary" value="{{ 'product.new' | translate }}" (click)="showDialogProduto()" />
    </div>
  </div>
  <br class="clearfix" />
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{ 'product.key' | translate }}</th>
            <th>{{ 'product.name' | translate }}</th>
            <th>{{ 'product.value' | translate }}</th>
            <th>{{ 'product.actions' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos">
            <td>{{ produto.cdProduto }}</td>
            <td>{{ produto.nmProduto }}</td>
            <td>{{ produto.vrProduto | currency:'BRL':true }}</td>
            <td>
              <input class="btn btn-primary" type="button" value="{{ 'product.update' | translate }}" /> 
              <input class="btn btn-danger" type="button" (click)="deleteProduto(produto.cdProduto)" value="{{ 'product.exclude' | translate }}" /> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="produtos.length == 0">
      <span class="message-center">{{ 'product.none' | translate }}</span>
    </div>
</div>