<div>
  <menu-navbar></menu-navbar>
</div>
<br class="clearfix" />
<div class="container">
  <div>
    <h3>Lista de Produtos</h3>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome Produto</th>
            <th>Valor Produto</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

