<menu-navbar></menu-navbar>
<br class="clearfix" />
<div class="container">
  <div class="row">
    <h3>Registrar venda de Produto</h3>
  </div>
  <form #formVenda="ngForm" novalidate>
    <div class="row">
      <div class="col-sm-4">
        <label for="vendedor">Vendedor</label>
        <select name="vendedor" id="vendedor" [(ngModel)]="vendedorSelecionado" 
          class="form-control" 
          placeholder="Produto" 
          required>
          <option *ngFor="let vendedor of vendedores"
            [selected]="vendedor == vendedorSelecionado"
            [ngValue]="vendedor">{{ vendedor.nmVendedor }}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="produto">Produto</label>
        <select name="produto" id="produto" [(ngModel)]="produtoSelecionado" 
          class="form-control" 
          placeholder="Vendedor" 
          required>
          <option *ngFor="let produto of produtos"
            [selected]="produto == produtoSelecionado"
            [ngValue]="produto">{{ produto.nmProduto }}</option>
        </select>
      </div>
    </div>
    <br class="clearfix" />
    <div class="row">
      <div class="col-sm-4">
        <label for="quantidade">Quantidade</label>
        <input class="form-control" id="quantidade" 
          name="quantidade" 
          type="text" 
          (keyup)="keyup($event.target)"
          [(ngModel)]="quantidade"
          placeholder="Informe quantidade" 
          required />
      </div>
      <div class="col-sm-4">
        <div class="input-append date" data-date-format="dd-mm-yyyy">
          <label for="dataVenda">Data da Venda</label>
          <input class="form-control span2" id="dataVenda"
          name="dataVenda" 
          [(ngModel)]="dataVenda" 
          size="16" 
          type="date" 
          required />
        </div>
      </div>
      <div class="col-sm-4" style="text-align:left;">
        <input class="btn btn-primary" type="button" 
          [disabled]="!formVenda.valid"
          (click)="resevarVenda()"
          [ngStyle]="{'top':'33px','position':'relative'}"
          name="adicionar" 
          id="adicionar" 
          value="Adicionar" />
      </div>
    </div>
  </form>
  <br class="clearfix" />
  <div *ngIf="vendas != null && vendas.length > 0">
    <div class="row">
      <div class="col-sm-12">
        <h4>Produtos resevados para venda</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Vendedor</th>
              <th>Produto</th>
              <th>Quantidade</th>
              <th>Valor</th>
              <th>Total</th>
              <th>
                <input class="btn btn-primary" type="button" value="Efetivar Todas" (click)="efetivarVendas(vendas)" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let venda of vendas">
              <td>{{ venda.vendedor.nmVendedor }}</td>
              <td>{{ venda.produto.nmProduto }}</td>
              <td>{{ venda.qtdProduto }}</td>
              <td>R$ {{ venda.produto.vrProduto }}</td>
              <td>R$ {{ venda.ttlVenda }}</td>
              <td>
                <input class="btn btn-success" type="button" value="Efetivar" (click)="efetivarVenda(venda)" />
                <input class="btn btn-danger" type="button" value="Remover" (click)="removerReserva(venda)" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>